.episodeList {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: calc(
    100vh - var(--header-height) - var(--footer-height) - var(--spacing-md)
  );
}

.episodeCard {
  font-size: var(--font-size-lg);
  font-weight: bold;
  margin-bottom: var(--spacing-md);
}

.episodeCard:hover {
  box-shadow: none;
}

.tableWrapper {
  flex: 1;
  overflow-y: auto;
}
.episodeTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-size: var(--font-size-sm);
}

.episodeTable th,
.episodeTable td {
  padding: var(--spacing-sm) var(--spacing-md);
  text-align: left;
  border-bottom: var(--border);
}

.episodeTable th {
  background-color: var(--color-white);
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}

.episodeTable td:nth-child(2),
.episodeTable td:nth-child(3) {
  text-align: right;
}

.episodeLink {
  cursor: pointer;
  color: var(--color-blue);
  font-weight: bold;
}
