.episodeList {
  padding: 0;
}

.episodeCard {
  background-color: var(--color-card-background);
  border: var(--border);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  padding: var(--card-padding);
  margin-bottom: var(--spacing-lg);
}

.episodeTable {
  width: 100%;
  border-collapse: collapse;
}

.episodeTable th,
.episodeTable td {
  padding: var(--spacing-sm) var(--spacing-md);
  text-align: left;
  border-bottom: var(--border);
}

.episodeTable th {
  background-color: var(--color-background);
  font-weight: bold;
}

.episodeLink {
  color: var(--color-primary);
  text-decoration: var(--link-text-decoration);
  transition: var(--link-transition);
}

.episodeLink:hover {
  color: var(--color-primary-hover);
}

/* Add this new style for the episode name */
.episodeLink strong {
  font-weight: bold;
}
