.card {
  display: flex;
  align-items: center;
  padding: var(--spacing-sm);
  border-radius: var(--border-radius);
  border: var(--border);
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  text-decoration: none;
  color: var(--color-dark-gray);
  height: 100px;
  cursor: pointer;
}

.card:hover {
  box-shadow: var(--box-shadow-hover);
}

.content {
  flex: 1;
  padding: var(--spacing-sm);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.image > img {
  width: 60px;
  height: 60px;
}

.title {
  margin: 0 0 var(--spacing-xs) 0;
  font-size: var(--font-size-md);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  margin: 0;
  font-size: var(--font-size-sm);
  color: var(--color-gray);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
