.sidebarCard {
  background-color: var(--color-card-background);
  border: var(--border);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  padding: var(--spacing-md);
  width: 300px;
}

.imageWrapper {
  text-align: center;
  margin-bottom: var(--spacing-md);
}

.infoWrapper {
  border-top: var(--border);
  border-bottom: var(--border);
  padding: var(--spacing-md) 0;
  margin-bottom: var(--spacing-md);
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: var(--spacing-sm);
}

.author {
  font-style: italic;
  color: var(--color-text-light);
}

.descriptionWrapper {
  padding-top: var(--spacing-sm);
}

.descriptionTitle {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: var(--spacing-sm);
}
.description {
  font-size: 0.9rem;
  line-height: 1.4;
}

.loading,
.error {
  padding: var(--spacing-md);
  background-color: var(--color-background);
  border-radius: var(--border-radius);
  text-align: center;
}

.error {
  color: var(--color-error);
}
