.episodeDetails {
  padding: var(--spacing-md);
  background-color: var(--color-card-background);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  border: var(--border);
}

.episodeDetails h2 {
  font-size: var(--font-size-lg);
  margin-bottom: var(--spacing-sm);
  color: var(--color-text-primary);
}

.episodeDetails p {
  font-size: var(--font-size-md);
  line-height: 1.5;
  color: var(--color-text-secondary);
  margin-bottom: var(--spacing-md);
}

.episodeDetails audio {
  width: 100%;
  margin-top: var(--spacing-md);
}
