.image {
  width: 170px;
  height: 170px;
  margin: 0 auto;
}

.infoWrapper {
  border-bottom: var(--border);
  padding-bottom: var(--spacing-sm);
  margin: var(--spacing-md) 0;
}

.title {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
  font-weight: bold;
}

.author {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  font-style: italic;
  color: var(--color-gray);
}

.descriptionTitle {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  font-weight: bold;
  margin-bottom: var(--spacing-xs);
}

.description {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  color: var(--color-gray);
  max-height: 300px;
  overflow-y: auto;
  padding-right: var(--spacing-xs);
}
